body{
   font-family: calibri;
}

nav  a { 
   color: appworkspace;
}

#current-link {
    padding-left: 200px;
   
    
}

.uppercase  {
    text-transform: uppercase;
    font-size: 20px;
    color: gray;
}
   
img {
    width: 400px;
    height: auto;
    margin-left: 450px;
}

h1 {
   font-size: 80px;
   border: 10px black;
   padding-top: 20px;
   padding-bottom: 5px;
   border: red
   
   
   }
   
   h2 {
    padding-top: 60px;
    margin-top: 50px;
    margin-left: 500px;
    margin-right: 500px;
    padding-bottom: 100px;
     }
     
     
     
     article p {
         text-align: center;
     }
     
     marquee {
        overflow: hidden;
        position: relative;
        speech-rate: faster;
        
         }
         
         .chosen {
           font-size: 95px; 
           
                
         }
         
         .Yeet {
           text-shadow: 10px 5px 5px lightblue;
           
       
         }
         
         .ML {
            color: gray;
         }
         
         .ML2 {
             color: gray;
         }
         
         